

.container {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.26);
  color: #ffffff;
  width: 100%;
  padding: 20px;
  margin-top: 150px;
  }

  #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-image: url("/assets/images/blur1.jpg");

    }

li{
  color:black;
  font-size: -webkit-xxx-large;
  font-weight: 300;
}

li:hover{
  font-weight: 700;
}
.btn-info {
  margin-left:15px;
}
.btn {
  width: 400px;
  margin: 10px;
}

