<video autoplay muted loop id="myVideo">
  <source src="assets/video/video1.mp4" type="video/mp4" >
</video>

<div class="container" style="width: 50rem;">
    <div  style="text-align: center;">
      <li  class="alert alert-primary btn btn-primary"> Registro </li>
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
<!-- USER PASSWORD  -->
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" >
  </div>

  <div class="form-group col-md-3">
    <label for="inputPassword4">Password</label>
      <input  type="password" class="form-control">
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-3">
    <label for="inputEmail4">Nombre</label>
      <input  name="first" class="form-control" >
  </div>
  <div class="form-group col-md-3">
     <label for="inputPassword4">Apellido</label>
       <input  type="text" class="form-control">
  </div>
  <div class="form-group col-md-2">
    <label for="inputAddress">Telefono</label>
      <input  type="text" class="form-control">
  </div>
  <div class="form-group col-md-2">
    <label for="inputAddress">Fecha nacimiento</label>
      <input  type="date" class="form-control" >
  </div>
</div>



<div class="form-row">
  <div class="form-group col-md-2">
    <label for="inputEmail4">Direccion</label>
      <input  type="address" class="form-control">
  </div>
  <div class="form-group col-md-2">
    <label for="inputPassword4">Localidad</label>
      <input  type="city" class="form-control">
  </div>
  <div class="form-group col-md-2">
    <label for="inputPassword4">Estado/Pais</label>
      <input  type="contry" class="form-control">
  </div>
  <div class="form-group col-md-2">
    <label for="inputPassword4">Codigo Postal</label>
      <input  type="password" class="form-control">
  </div>
  <div class="form-group col-md-2">
    <label for="inputAddress">Pais</label>
      <input  type="text" class="form-control">
  </div>
</div>

<div class="form-group">
  <label for="inputAddress">Foto  ></label>
    <input type="file"  class = "btn btn-success">
</div>



<div class="form-group col-md-2">
  <label for="inputAddress">Condiciones</label>
    <input  type="Checkbox" class="form-control" >
</div>


<button class="btn btn-primary">Registrarse</button>
<button class="btn btn-info">Cambiar Usuario</button>
</div>

