<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


 </head>
<body>
<app-navbar></app-navbar>

 <div class="background">
<h1>hoy mas que nunca, quedate en casa</h1>

</div>

									<!--who we are-->

<div class="container-fluid"  id="whoweare">
	<div class="row justify-content-center">
		<div class="col-8 text-center">
			<h1 class="who">Quienes somos</h1>
				<p>Este es un proyecto el cual hacemos para poder ayudar a los  afectados y personas mas vulnerables por esta crisis, la cual nos golpeó a todos.
           Más que todo a aquellas personas y familas que quedaron en situación critica, por ello pensamos en esta aplicación que cumple la función de hacer sorteos en plan de hacer conocer locales comerciales por gente del barrio o de la ciudad para poder incrementar las  ventas. también se van a hacer  ayudas por medio de donaciones que harán los mismos usuarios  con el pago de suscripciones voluntarias y donaciones directas; las suscripciones  serán destinadas en su mayoría  a donaciones,  habrán donaciones físicas y monetarias, las cuales nosotros como aplicación transformaremos en puntos, los cuales podrían ser canjeados por sorteos y así incentivamos la donación para poder ayudar a los menos favorecidos por estas crisis como comedores
           comunitarios y personas de escasos recursos, así todos estaríamos ayudando en esta crisis y se verían favorecidos tanto negocios como personas y familias.</p>
		</div>
	</div>
</div>


									<!--what we do-->

<div class="container" id="whatdowedo">
	<h2 class="text-center">Que Hacemos?</h2>
		<hr class="divider my-4" />
			<p class="text-center mt-0">Generar acciones que mejoren la calidad de vida de las personas de sectores desfavorecidos.</p>

	<div class="row">
		<div class="col-lg-3 col-md-6 text-center">
			<div class="mt-5">
				<img src="assets/images/generosity.png" alt="10" style="width:100%">
					<h3 class="h4 mb-2">Contener</h3>
						<p class="text-muted mb-0">Brindar apoyo a las personas que mas nos necesitan</p>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 text-center">
			<div class="mt-5">
				<img src="assets/images/online-donation.png" alt="10" style="width:100%">
					<h3 class="h4 mb-2">Ayudar</h3>
						<p class="text-muted mb-0">Fomentamos e incentivamos a la gente a donar y ayudar.</p>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 text-center">
			<div class="mt-5">
				<img src="assets/images/charity.png" alt="10" style="width:100%">
					<h3 class="h4 mb-2">Donar</h3>
						<p class="text-muted mb-0">Repartimos la ropa que recibimos de las donaciones</p>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 text-center">
			<div class="mt-5">
				<img src="assets/images/alms.png" alt="10" style="width:100%">
					<h3 class="h4 mb-2">Colaborar</h3>
					<p class="text-muted mb-0">Ayuda economica para la gente de monores recursos</p>
			</div>
		</div>
	</div>
</div>



  <!-- Our Contribution-->

<div #nuestroaporte class="ourcontribution" id="ourcontribution">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>UNA SOLA HINCHADA</h3>
	  <img src="assets/images/aporte1.jpg" alt="10" style="width:100%" id="contribution">
    <p>Unidos por la solidaridad</p>
    <p>UNA SOLA HINCHADA es una campaña nacional que busca recaudar pequeñas donaciones
        del público general destinadas a fortalecer a comedores y centros de asistencia familiar</p>

    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
	  <img src="assets/images/aporte2.jpg" alt="10" style="width:100%" id="contribution">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <img src="assets/images/aporte3.jpg" alt="10" style="width:100%" id="contribution">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>
</div>



<!-- Footer-->

<footer class="bg-light py-5">
  <div class="container"><div class="small text-center text-muted">Copyright © 2020 - FIGE</div></div>
</footer>



</body>
</html>
