<div id="content" class="mi-cuenta-content">

    <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <app-dashboard-org></app-dashboard-org>
        </div>

        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <app-profile></app-profile>
        </div>


        <div class="tab-pane fade" id="v-pills-draws" role="tabpanel" aria-labelledby="v-pills-draws-tab">
            PANTALLA 3
        </div>


        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            PANTALLA 5
        </div>


        <div class="tab-pane fade" id="v-pills-contact" role="tabpanel" aria-labelledby="v-pills-contact-tab">
            PANTALLA 5
        </div>

        <div class="tab-pane fade" id="v-pills-organizations" role="tabpanel"
            aria-labelledby="v-pills-organizations-tab">
            PANTALLA 6
        </div>

    </div>

    <hr class="solid">

</div>
