body {
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h5 {
  text-align: center;
}

h6 {
  text-align: center;
}

section {
  margin-top:30px;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
  margin-top:50px;
}

/* TAMAÑO DE LAS IMAGENES DE LOS draws */

img {
  height: 200px;
  width: 200px;
}

.card {
  text-align: center;
  align-items: center;
  margin: 80px;
}

.container-fluid {
  margin-top:80px;
}

.row {
  justify-content: center;
}

.draws {
  background-color:white;
  padding:0px;

}
.btn {
  width: 100%;
}
