a{
  cursor: pointer;
  margin-bottom: 20px;
  background-color:#023669 ;
}
a:hover {
  background-color: rgb(26, 30, 65);
}
button{
  width: 212px;
  margin: 1px;
}

#formNewStore #collapseCreateDraw{
  /* background-color: white; */
  padding: 2%;
}

.content {
  background-color: darkgray;
  background-image: url("/assets/images/blur1.jpg");

  padding:20px;
  margin-top:55px;
  padding-top:165px;
  height:1500px;
}
.btn {
  margin: 20px;
}
.container {
  background-color: rgba(0, 0, 0, 0.384);
  color: white;
  padding: 20px;
}
.h3 {
  color: white;

}
