<div class="content">
  <div class="list-group">
    <div *ngIf="showOrganizations">
      <h3>Organizaciones</h3>
      <hr>
      <a *ngFor="let organization of user.organizations"
        class="list-group-item list-group-item-action flex-column align-items-start"
        (click)="loadStores(organization._id)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{organization.name}}</h5>
          <small>{{organization.stores.length}} Sucursales</small>
        </div>
        <p class="mb-1">CUIT : {{organization.cuit}}</p>
      </a>

      <div><hr>
        <button type="button" class="btn btn-primary" (click)="newStore()" data-toggle="collapse" href="#collapseExample" aria-controls="collapseExample">Crear organizacion</button>
  
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
    
              <div class="form-group">
                <label for="exampleInputEmail1" >CUIT</label>
                <input [(ngModel)]="organization.cuit" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required="true">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Nombre de Organizacion</label>
                <input [(ngModel)]="organization.name" type="text" class="form-control" id="exampleInputPassword1" required="true">
              </div>
              <button class="btn btn-primary" type="submit" (click)="registerOrganization()">Registrarme</button>
    
          </div>
        </div>

    </div>
    
      
    </div>
  </div>

  <div *ngIf="showStores" id="stores" class="list-group">
    <h2>Organizacion {{organizationSelected.name}}</h2>
    <h6>Cuit {{organizationSelected.cuit}}</h6>
    <br>


    <h3>Sucursales</h3>
    <ul class="list-group" *ngFor="let store of organizationSelected.stores">
      <a (click)="loadDraws( store._id )"
        class="btn list-group-item d-flex justify-content-between align-items-center ">
        {{store.name}}
        <span class="badge badge-primary badge-pill">Sorteos activos : {{store.draws.length}}</span>
      </a>
    </ul>
    <hr>


    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#collapseExample"> / Editar
        Organizacion</button>
      <button type="button" class="btn btn-danger" (click)="deleteOrganization()">Eliminar Organizacion</button>
      <button type="button" class="btn btn-primary" (click)="newStore()">Crear sucursal</button>
      <button type="button" class="btn btn-info" (click)="goBackOrganizations()">Volver</button>
    </div>



    <div id="collapseExample" class="collapse">
      <div class="card card-body">

        <div class="form-group">
          <label for="exampleInputEmail1">CUIT</label>
          <input [(ngModel)]="organizationSelected.cuit" type="number" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" required="true">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nombre de Organizacion</label>
          <input [(ngModel)]="organizationSelected.name" type="text" class="form-control" id="exampleInputPassword1"
            required="true">
        </div>
        <button class="btn btn-warning" type="submit" (click)="updateOrganization()">Editar</button>

      </div>
    </div>

    <br>
    <hr>
    <div *ngIf="showNewStoreForm" id="formNewStore">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input [(ngModel)]="store.name" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Direccion</label>
        <input [(ngModel)]="store.address.street" type="text" class="form-control">

        <label for="exampleInputEmail1">Ciudad</label>
        <input [(ngModel)]="store.address.city" type="text" class="form-control">

        <label for="exampleInputEmail1">Localidad</label>
        <input [(ngModel)]="store.address.state" type="text" class="form-control">

        <label for="exampleInputEmail1">Codigo Postal</label>
        <input [(ngModel)]="store.address.postalCode" type="text" class="form-control">

        <label for="exampleInputEmail1">Pais</label>
        <input [(ngModel)]="store.address.country" type="text" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary" (click)="createNewStore()">Agregar</button>
    </div>
  </div>
</div>