a{
  cursor: pointer;
  margin-bottom: 20px;
}

button{
  width: 212px;
  margin: 1px;
}

#formNewStore #collapseCreateDraw{
  background-color: white;
  padding: 2%;
}

.content {
  background-color: darkgray;
  padding:20px;
  margin-top:55px;
  padding-top:165px;
  height:700px;
}
.btn {
  margin: 20px;
}
